@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    width: 100%;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    /* Ensure full width */
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../public/images/homecosmo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    /* Ensure full width */
    box-sizing: border-box;
    /* Include padding in width */
}

.hero h1 {
    font-size: 94px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.2;
    max-width: 1200px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.hero p {
    font-size: 19px;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 800px;
    font-weight: 300;
    opacity: 0.85;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.arrow-down {
    margin-top: 50px;
}

.arrow-down span {
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}