@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../public/images/homecosmo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: transparent;
    /* Fully transparent background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul.brand {
    justify-content: flex-start;
}

.navbar ul.nav-items {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.content h1 {
    font-size: 94px;
    margin: 0;
    padding: 0 20px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.content p {
    font-size: 19px;
    margin-top: 20px;
    padding: 0 20px;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: 300;
    /* Light font weight */
    opacity: 0.85;
    /* Slightly lighter text */
}