/* Main container for the upload page */
.upload-page {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center content vertically */
}

.progress-bar-container {
    width: 80%;
    position: absolute;
    /* Change position to absolute to place it relative to the page */
    top: 110px;
    /* Adjust the top value to move it upwards on the page */
    left: 50%;
    transform: translateX(-50%);
    /* Center the container horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Container for navigation arrows */
.nav-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -34px;
}

/* Style for navigation arrows */
.nav-arrow {
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-arrow span {
    font-size: 24px;
    color: white;
}

/* The main progress bar style */
.progress-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Style for each step in the progress bar */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* The circle that represents the step number */
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
    /* Space between the circle and the label */
    position: relative;
    z-index: 3;
    /* Ensures the circle is above the line */
}

/* Active state for the step circle */
.circle.active {
    background-color: #ff7b00;
    /* Orange color for the active step */
    z-index: 4;
}

/* Line connecting the steps */
.line {
    position: absolute;
    height: 2px;
    width: 86%;
    /* Adjust the line width to connect to the next step */
    background-color: gray;
    top: 29%;
    /* Position the line above the circles but below the labels */
    left: 7%;
    z-index: 1;
    /* Send the line to the back */

}

/* Label below each step circle */
.step-label {
    color: white;
    font-size: 16px;
    text-align: center;
    white-space: normal;
    /* Allow text to wrap */
    width: 159px;
    /* Adjust width as needed to allow multiple lines */
    line-height: 1.2;
    /* Adjust line height for better spacing between lines */
    position: relative;
    z-index: 4;
    /* Ensures the label is above the line */
}