/* General page styling */
.upload-page {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Background images styling */
.background-image {
    position: absolute;
    background-image: url('../../public/images/cosmolight.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.background-image.one {
    width: 300px;
    height: 300px;
    top: 250px;
    left: 100px;
}

.background-image.two {
    width: 300px;
    height: 300px;
    top: 250px;
    right: 900px;
}

.background-image.three {
    width: 300px;
    height: 300px;
    bottom: 80px;
    left: 30%;
    transform: translateX(-50%);
}

/* Progress bar styling */
.progress-bar-container {
    width: 80%;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.nav-arrow {
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-arrow:hover {
    background-color: #ff7b00;
    border-color: #ff7b00;
}

.nav-arrow span {
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
}

.progress-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
    position: relative;
    z-index: 3;
}

.circle.active {
    background-color: #ff7b00;
    z-index: 4;
}

.line {
    position: absolute;
    height: 2px;
    width: 86%;
    background-color: gray;
    top: 29%;
    left: 7%;
    z-index: 1;
}

.step-label {
    color: white;
    font-size: 16px;
    text-align: center;
    white-space: normal;
    width: 159px;
    line-height: 1.2;
    position: relative;
    z-index: 4;
}

/* Step 1 container and titles styling */
.step1-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 150px;
    z-index: 2;
}

.form-title,
.appliance-title {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    position: relative;
    right: -5.5%;
    top: -21%;
    transform: translateX(50%);
    white-space: nowrap;
}

/* Form container */
.form-container {
    width: 45%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.form-group select,
.form-group input {
    flex: 2;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: grey;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease;
    padding-left: 10px;
}

.form-group select:hover,
.form-group input:hover,
.form-group input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid #ff7b00;
}

/* Add appliance button */
.add-appliance-button {
    padding: 10px 20px;
    background-color: #ff7b00;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
}

.add-appliance-button:hover {
    background-color: #e66a00;
}

/* Appliance display container */
.appliance-display {
    width: 45%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

/* Custom scrollbar for the appliance display container */
.appliance-display::-webkit-scrollbar {
    width: 12px;
}

.appliance-display::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

.appliance-display::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    border: 3px solid black;
}

.appliance-display ul {
    list-style-type: none;
    padding: 0;
}

.appliance-display li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.316);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Delete button styling */
.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    color: red;
    cursor: pointer;
}

.delete-button:hover {
    color: #ff0000;
}