.barchart-container {
    background-color: black;

    width: 100%;
    max-width: 1200px;

    color: white;
    overflow-x: auto;
}

.barchart-title {
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: left;

}

/* Style the scrollbar */
.barchart-container::-webkit-scrollbar {
    height: 5px;
    /* Height of the scrollbar */
}

.barchart-container::-webkit-scrollbar-track {
    background: #000000;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the scrollbar track */
}

.barchart-container::-webkit-scrollbar-thumb {
    background-color: #323232;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 3px solid #333;
    /* Padding around the scrollbar thumb */
}


.barchart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
}

.barchart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9px;
}

.barchart-bar {
    width: 30px;
    background-color: grey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.barchart-bar:hover {
    background-image: url('../../public/images/treemapitem.jpg');
    background-size: cover;
    cursor: pointer;
}

.barchart-label {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
    max-width: 70px;
}