.barchart-container {
    background-color: black;
    width: 100%;
    max-width: 1200px;
    color: white;
    overflow-x: auto;
    height: 100%;
    position: relative;
    padding-bottom: 60px; /* Keep padding for labels */
}


.barchart-title {
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: left;
}

/* Style the scrollbar */
.barchart-container::-webkit-scrollbar {
    height: 5px;
    /* Height of the scrollbar */
}

.barchart-container::-webkit-scrollbar-track {
    background: #000000;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the scrollbar track */
}

.barchart-container::-webkit-scrollbar-thumb {
    background-color: #323232;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 3px solid #333;
    /* Padding around the scrollbar thumb */
}

.barchart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: calc(100% - 60px);
    min-height: 200px;
}

.barchart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px; /* Keep width for spacing */
    margin: 0 5px;
    flex-shrink: 0;
    position: relative; /* Add this */
}

.barchart-bar {
    width: 30px;
    background-color: grey;
    border-radius: 25px;
    transition: all 0.3s ease;
}


.barchart-label {
    position: absolute;
    bottom: -30px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    text-align: center;
    max-width: 60px; /* Match with barchart-item width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.barchart-tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    font-size: 14px;
    white-space: nowrap;
    max-width: 200px;
    word-wrap: break-word;
}

.barchart-tooltip::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
