.navbar {
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul.brand {
    justify-content: flex-start;
}

.navbar ul.nav-items {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    /* Add padding to make it look like a button */
    border-radius: 5px;
    /* Add border radius */
    border: 2px solid transparent;
    /* Initially transparent border */
    background-color: transparent;
    /* Initially transparent background */
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    /* Smooth transition */
}

.navbar ul.brand li span {
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    /* Optional: If you want padding like a button */
    border-radius: 5px;
    /* Optional: If you want it to look like a button */
}


.navbar ul li a:hover {
    background-color: white;
    /* Change background to white on hover */
    color: black;
    /* Change text color to black on hover */
    border: 2px solid white;
    /* Add a white border on hover */
    text-shadow: none;
    /* Optionally, remove text shadow on hover */
}