.why-choose-us-container {
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    background-color: black;
    /* Background color of the entire container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 16%;
    /* Reduced top and bottom padding */
    box-sizing: border-box;
}

.why-choose-us-section {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 28px;
    /* Decreased padding inside the section by 30% */
    background-color: black;
}

.info-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.info-section .content {
    color: white;
    max-width: 100%;
}

.tech-item h2 {
    font-size: 33.6px;
    /* Decreased size from 48px by 30% */
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 10.5px;
    /* Adjusted margin-bottom */
}

.tech-item p {
    font-size: 15.4px;
    /* Decreased size from 22px by 30% */
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    line-height: 1.5;
    margin-bottom: 21px;
    /* Adjusted margin-bottom */
    text-shadow: none;
}

.legend-section {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.legend-text {
    font-size: 100.8px;
    /* Decreased size from 144px by 30% */
    font-weight: bold;
    text-align: right;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    z-index: 2;
    line-height: 1.1;
}

.legend-text div {
    margin-bottom: 7px;
    /* Adjusted margin-bottom */
}

.background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    z-index: 1;
    opacity: 0.6;
}