.why-choose-us-container-custom {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 10% 140px 20%;
    /* More padding on the right, less on the left */
    /* Increased padding on left and right */
    box-sizing: border-box;
    z-index: 10;
}

.why-choose-us-section-custom {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 28px;
    background-color: black;
}

.info-section-custom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.info-section-custom .content-custom {
    color: white;
    max-width: 100%;
}

.tech-item-custom h2,
.tech-item-custom p {
    opacity: 0;
    /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-whychooseus .tech-item-custom h2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

.reveal-whychooseus .tech-item-custom p {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
}

.legend-section-custom {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.legend-text-custom {
    font-size: 100.8px;
    font-weight: bold;
    text-align: right;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    z-index: 2;
    line-height: 1.1;
}

.legend-text-custom div {
    margin-bottom: 7px;
}

.background-image-custom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    z-index: 1;
    opacity: 0.6;
}